body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: #e0e9f1;
}

img {
    height: auto;
    max-width:100%;
    display:block;
    object-fit:cover;
    border: 2px solid darkgray;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 3px;
}

.attribution {
    font-size: 0.8em;
    font-style: italic;
}

div[id="img-div"] {
    background-color: white;
    width: 80%;
    margin: auto;
    border: 3px solid grey;
    padding: 3px 3px 3px 3px;
}

div.centerimg {
    margin: 0 auto;
}

div.centerdiv {
    text-align: center;
}

.year {
    font-weight: 800;
}

.divTimeline {
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
    width: 50%;
    margin: 0 auto;
}

ul {
    margin: 10px;
}

ul li {
    padding-left: 10px;
    padding-top: 15px;
}

.quote {
    font-style:italic;
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

hr {
    width: 60%;
}